*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.intestazione{
    border: 3px solid black;
    width: 100%;
    height: 190px;
    background-color:#4ea0ff;
    background-image: url("../img/img/pattern.png");
    
}

#logo{
width: 20%;
line-height: 100%;
}
